<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.6" targetFramework="net451" />
  <package id="ExfSoft.Json" version="1.0.1" targetFramework="net451" />
  <package id="jQuery" version="1.9.1" targetFramework="net451" />
  <package id="JSON" version="1.0.1" targetFramework="net451" />
  <package id="json-ld.net" version="1.0.4" targetFramework="net451" />
  <package id="json-serialize" version="1.1.2" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="log4net.Ext.Json.1.2.13" version="1.2.13.20140804" targetFramework="net451" />
  <package id="log4net.Ext.Json.Serializers.Newtonsoft" version="1.0.0.0" targetFramework="net451" />
  <package id="Moonmile.ExDoc.Json" version="0.6" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" />
  <package id="ScriptCs.Json" version="0.1.0" targetFramework="net451" />
  <package id="ServiceStack.Text" version="3.9.71" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.0.394" targetFramework="net451" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net451" />
  <package id="TagCache.Redis" version="1.0.0.2" targetFramework="net451" />
  <package id="TagCache.Redis.Json.Net" version="1.0.0.2" targetFramework="net451" />
  <package id="Unity.Newtonsoft.Json" version="7.0.0.0" targetFramework="net451" />
</packages>